<!doctype html>
<title>Milestone Project</title>
<link rel="stylesheet" href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.4.min.css" type="text/css" />
<script type="text/javascript" src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.4.min.js"></script>
<div class=page>
  <h1>User Input</h1>
  <div class=metanav>

    <h4>
    Please enter a stock ticker, e.g. SBUX, and check desired features:
    </h4>

    <form id='userinfoform' method='post' action='/index' >
      <p>
    Ticker symbol: <input type='text' name='ticker_symbol' />
      </p>
      <p>
    Opening price: <input type='checkbox' name='metrics' value='open' />
      </p>
      <p>
    High price: <input type='checkbox' name='metrics' value='high' />
      </p>
      <p>
    Closing price: <input type='checkbox' name = 'metrics' value='close' />
      </p>
      <p>
    <input type='submit' value='Submit' />
      </p>
    </form>

  </div>
</div>
</html>
